@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  border-radius: 17px;
background: #ffffff;
box-shadow:  5px 5px 11px #bababa,
             -5px -5px 11px #ffffff;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
header li {
  justify-content: center;
  font-size: 1.5rem;
  display: inline-block;
  display: flex;
  margin: 0 10px;
}
.cta {
  border: none;
  border-radius: 5px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.bio {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 17px;
  background: #ffffff;
  box-shadow:  5px 5px 11px #bababa,
               -5px -5px 11px #ffffff;
  width: 75%;
}